body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #292929;
    color: #fcfcfc;
    padding: 30px
}

.box,
.cover {
    height: 70px;
}

.mine-container {
    font-size: 250%;
}

.mine {
    margin-top: 10px;
    width: 50px
}